@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body {
	margin: 0;
	background-color: #012D5A;
}


.header-section {
	height: 60px;
}


.primary-nav {
	text-decoration: none;
	color: white;
	font-size: 15px;
}

li {
	display: inline;
	float: right;
}

.navbar{
	width: 88%;
}

.primary-nav a {
	padding-left: 0 10px;
	text-decoration: none;
	color: white;
	font-size: 30px;
	font-family: "Roboto";
}


.Hero {
	width: 80%;
	height: 1200px;
	justify-content: center;
	margin: 100px auto;
	padding-top: 50px;
}

.desc {
	width: 600px;
	height: 400px;
	font-family: "Roboto";
	font-size: 35px;
}

.projects {
	width: 80%;
	height: 800px;
	justify-content: center;
	margin: 0 auto;
	margin-top: 150px;
}

.container {
	display: flex;
	justify-content: space-between;
}


.project-container {
	display: flex;
	justify-content: space-between;
}

.project-card {
	width: 380px;
	height: 500px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0,2);
	transition: 0.3s;
	font-family: "Roboto";
	font-size: 20px;
	background-color: #5a32a8;
	border-radius: 15px;
	color: white;
	text-align: center;
	margin: 40px;

}

.project-card:hover {
	box-shadow: 0 8px 16px 0 rgba(255,255,255, 0.9);
}

.skills {
	width: 80%;
	height: auto;
	justify-content: center;
	margin: 0 auto;
}

.cardimg {
	border-radius: 15px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.heroimg {
	width: 600px;
	height: 600px;
}

.desc {
	color: white;
}

.navbtn {
	background-color: #012D5A;
	border: 2px solid #5a32a8;
	margin-right: 15px;
	padding: 7px;
	border-radius: 5px;
}

.navbtn:hover {
	background-color: #5a32a8;
}


.contact-me {
	font-family: 'Roboto';
	color: white;
	height: 600px;
	width: 600px;
	justify-content: center;
	align-items: center;
	
}

.submitbtn {
	width: 100%;
}



.form-group {
	margin-top: 25px;
}


.form-group input, 
.form-group textarea{
	width: 100%;
	padding: 10px;
	font-size: 18px;
	margin-top: 5px;
	background-color: #012D5A;
	color: white;
	border: none;
	border-bottom: 2px solid grey;
}

textarea {
	resize: vertical;
}

.contactBtn {
	padding:4px;
	width: 50%;
	border: 2px solid grey;
	border-radius: 22px;
	margin-top: 15px;
	background-color: #012D5A;
	color: white;
	font-size: 22px;

}

.contactBtn:hover{
	background-color: #5a32a8;
}

.skills {
	color: white;
	font-size: 23px;
	font-family: 'Roboto';
}

.skillheading {
	font-weight: 900;
}

.social-icon {
	width: 40px;
	height: 40px;
}

.skill-icon {
	width: 40px;
	height: 40px;
}

@media only screen and (max-width:865px){
	
	.container {
		flex-direction: column;
		justify-content: center;
	}

	.desc {
		margin: 0px auto;
		font-size: 25px;
		width: 100%;
		text-align: center;
	}


	.img-wrapper {
	display: flex;
	}

	.heroimg {
		width: 100%;
		height: auto;
		margin: 0 auto;
	}

	.project-container {
		flex-direction: column;
	}

	.projects {
		width: 100%;
		height: auto;
	}

	
	.project-card {
		height: auto;
		width: 50%;
		margin: 50px auto;
	}

	.contact-me {
		width: 100%;
		margin-top: 200px;
	}

	.skills {
		margin: 50px auto;
	}

	li {

	}

}

@media only screen and (max-width: 1500px) {
	.project-card {
		height: 80%;
		font-size: 15px;
	}
}